* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: none;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: grey;
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: pointer;
}

nav, .desktop__nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.desktop__nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

