* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: none;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: grey;
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: pointer;
}

nav, .desktop__nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.desktop__nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

/* Mobile Nav */
#mobile__nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
}

.hamburger-menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    list-style: none;
    margin-top: 1.5rem;
}

.hamburger-menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

.hamburger-menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}