a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
}

.logo{
    font-size: 2rem;
    font-weight: 800;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.header__menu li{
    font-size: 2rem;
    font-weight: 600;
}

.header__menu li a{
    color: black;
}

.header__menu li a:hover{
    color: blue;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

#mobile__nav{
    display: none;
}

.mobile__menu{
    position: relative;
    display: inline-block;
}

.mobile-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.mobile-icon span{
    background-color: black;
    width: 100%;
    height: 2px;
    transition: all 0.3 ease-in-out;
}

.mobile-links{
    position: absolute;
    width: fit-content;
    top: 100%;
    right: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
}

.mobile-links a {
    cursor: pointer;
    display: block;
    padding: 10px;
    font-size: 1.4rem;
    color: black;
    text-align: center;
    transition: all 0.3 ease-in-out;
}

.mobile-links a:hover{
    cursor: pointer;
    color: blue;
}

.mobile-links.open{
    max-height: fit-content ;
}

.mobile-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.mobile-icon.open span:nth-child(2){
    opacity: 0;
}

.mobile-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

@media screen and (max-width: 1200px) {
    #header__nav-desktop{
        display: none;
    }
    #mobile__nav{
        display: flex;
    }
}