*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
}

a .btn{
    transition: all 300ms ease;
}
nav, .menu-bar{
    display: flex;
}

.logo-container h1{
    color: gray;
    font-size: 2rem;
}

.logo-container h1:hover{
    cursor: default;
}

nav{
    justify-content: space-around;
    height: 15vh;
    align-items: center;
}

.menu-bar{
    gap: 3rem;
}

.menu-bar li a{
    color: gray;
    font-size: 1.5rem;
}

.menu-bar li a:hover{
    color: black;
    text-decoration: underline;
    text-underline-offset: 1rem;
    font-size: 1.5rem;
}

#mobile-nav{
    display: none;
}

.mobile-menu{
    position: relative;
    display: inline-block;
}

.mobile-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.mobile-links li {
  list-style: none;
}

.mobile-icon span{
    width: 100%;
    height: 2.5px;
    background-color: gray;
    /* transition: ; */
  transition: all 0.3 ease-in-out;

}

.mobile-links{
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    background-color: white;
    max-height: 0;
    overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.mobile-links a{
   display: block;
   padding: 10px;
   text-align: center;
   font-size: 1.5rem;
   color: gray;
  transition: all 0.3 ease-in-out;

}

.mobile-links.open {
    max-height: 300px;
}

.mobile-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.mobile-icon.open span:nth-child(2){
    opacity: 0;
}

.mobile-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.mobile-icon span:first-child {
  transform: none;
}

.mobile-icon span:first-child {
  opacity: 1;
}

.mobile-icon span:first-child {
  transform: none;
}

@media screen and (max-width:1200px) {
    #header-nav{
        display: none;
    }
    #mobile-nav{
        display: flex;
    }
}
